// Grid settings
$enable-flex:           true;
$main-sm-columns:       12;
$sidebar-sm-columns:    4;

// Colors
$brand-primary:         #385172;
$brand-success:			#56B1B7;
$brand-main:			#444748;
$brand-success-dark:	darken($brand-success, 15%);
$menu-primary:			#349EA5;
$menu-secondary:		#375274;
